/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: var(--font-size-button);
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint-xs) {
        font-size: var(--font-size-xs-button);      
    }

    &:hover {
        color: var(--color-black);
    }
}
