/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;
    --color-highlight-grey: rgb(97, 97, 97);

    // Couleurs du projet
    --color-primary-dark-blue: #546B71;
    --color-secondary-purple: #764981;
    
    --color-button-purple: #764981;
    --color-button-cyan: #CFF5FF;

    --color-highlight-text-cyan: #BCE3ED;

    --color-bg-project-blue: #7197A1
    ;

    --color-fail: #fd6030;
}
