/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary-dark-blue: #546B71;
    --color-secondary-purple: #967A9C;
    
    --color-button-purple: #764981;
    --color-button-cyan: #CFF5FF;

    --color-highlight-text-cyan: #BCE3ED;

    --color-bg-project-blue: #7197A1
    ;

    --color-fail: #f6511d;
}
