/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Red Hat Display', sans-serif;
    --font-secondary: 'Readex Pro', sans-serif;
    --font-tertiary: 'Metrophobic', sans-serif;

    --font-size-content: 1.5rem;

    --font-size-button: 1.25rem;

    --font-size-credit: 1.125rem;

    --font-size-copyright: 1.25rem;

    /// Grosseur des textes titles & subtitles
    --font-size-h1: 7rem;
    --font-size-h2: 5rem;
    --font-size-h3: 4rem;
    --font-size-h4: 2rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;

}
