{% include '_partials/_header.html' %}

<section class="contact">

    <div class="info-contact">
        <h2>Contactez-moi</h2>

        <div class="reseaux-sociaux">
            
            <a href="https://www.instagram.com/william.andrade03/?hl=fr" target="_blank" class="instagram"><img src="assets/icons/instagram-blue.svg" alt=""></a>
            <a href="https://www.youtube.com/channel/UCTVUBsccmI2Rpt8V20hLiVA" target="_blank" class="youtube"><img src="assets/icons/youtube-blue.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/william-andrade-186b7a250/" target="_blank" class="linkedin"><img src="assets/icons/linkedin-blue.svg" alt=""></a>
            <a href="https://www.facebook.com/william.andrade.1000/" target="_blank" class="facebook"><img src="assets/icons/facebook-blue.svg" alt=""></a>
            
        </div>

        <p class="lien" ><a href="mailto: william-3-@hotmail.com">william-3-@hotmail.com</a></p>
        <p class="lien"><a href="tel:4388371995">(438) 837-1995</a></p>
        <p class="lien"><a href="assets/images/William Andrade CV.pdf" download >Curriculum vitae</a></p>

    </div>

    <div class="formulaire">

    </div>



</section>







{% include '_partials/_footer.html' %}