{% include '_partials/_header.html' %}

<section class="project-liste" data-component="Scrolly">
    <img class="bg-portfolio" src="assets/images/bg-marble.jpg" alt="">
    <div class=" wrapper">
        
        <h2>Mes projets</h2>


        <div class="card_project">

            <div class="card_content" data-scrolly="fromLeft">
                <h3 data-scrolly="fromBottom">Parkour Futuriste</h3>
                <p class="category_name" data-scrolly="fromBottom"> Animation 2D & 3D / Modélisation / Projet étudiant </p>
            
                <ul  class="category_icon" data-scrolly="fromBottom">
                    <li><img src="./assets/icons/category-blender-white.svg" alt=""></li>
                </ul>

                <p class="description" data-scrolly="fromBottom">Conceptualisation, création et intégration d’un environnement futuriste avec le logiciel Blender.</p>

                <div class="placement-nb-btn">
                    <p class="nb-projet">
                        1/5
                        <img src="assets/images/splash_number_cyan.png" alt="">
                    </p>
                    <a class="btn_cyan" href="./page-futuriste.html">
                        <span>
                            Explorez
                        </span>
                    </a>
                </div>
                

            </div>

            <div class="card_img" data-scrolly="fromRight">
                <img src="./assets/images/futuriste_project.jpg" alt="">
            </div>

        </div>

        <div class="card_project-white">

            <div class="card_content" data-scrolly="fromRight">
                <h3 data-scrolly="fromBottom">Recette en pot</h3>
                <p class="category_name" data-scrolly="fromBottom"> Refonte / Production web / Projet étudiant </p>

                <ul  class="category_icon" data-scrolly="fromBottom">
                    <li><img src="./assets/icons/category-coding.svg" alt=""></li>
                    <li><img src="./assets/icons/category-figma.svg" alt=""></li>
                </ul>
                
                

                <p class="description" data-scrolly="fromBottom">Application du Design UI/UX avec Figma et l’intégration web (Html/Css/Js) avec VS code. C’est une pratique de refonte!</p>

                <div class="placement-nb-btn">
                    <p class="nb-projet">
                        2/5
                        <img src="assets/images/splash_number_purple.png" alt="">
                    </p>
                    <a class="btn_purple" href="page-recette.html">
                        <span>
                            Explorez
                        </span>
                    </a>
                </div>
                

            </div>

            <div class="card_img" data-scrolly="fromLeft">
                <img src="./assets/images/recette_project.jpg" alt="">
            </div>

        </div>

        <div class="card_project">

            <div class="card_content" data-scrolly="fromLeft">
                <h3 data-scrolly="fromBottom">Opening - Undisputed II</h3>
                <p class="category_name" data-scrolly="fromBottom"> Montage vidéo / VFX / Projet étudiant </p>
            
                <ul  class="category_icon" data-scrolly="fromBottom">
                    <li><img src="./assets/icons/category-aftereffect-white.svg" alt=""></li>
                    <li><img src="./assets/icons/category-premiere-white.svg" alt=""></li>
                </ul>

                <p class="description" data-scrolly="fromBottom">Effectuer un montage vidéo d'une scène d'ouverture dans le cadre du cours de réalisation vidéo. </p>

                <div class="placement-nb-btn">
                    <p class="nb-projet">
                        3/5
                        <img class="splashysplash" src="assets/images/splash_number_cyan.png" alt="">
                    </p>
                    <a class="btn_cyan" href="page-opening.html">
                        <span>
                            Explorez
                        </span>
                    </a>
                </div>
                

            </div>

            <div class="card_img" data-scrolly="fromRight">
                <img src="./assets/images/opening_project.jpg" alt="">
            </div>

        </div>

        <div class="card_project-white">

            <div class="card_content" data-scrolly="fromRight">
                <h3 data-scrolly="fromBottom">Sensibilisation des animaux</h3>
                <p class="category_name" data-scrolly="fromBottom"> Pixel Art / Design UI & UX / Projet étudiant </p>
            
                <ul  class="category_icon" data-scrolly="fromBottom">
                    <li><img src="./assets/icons/category-photoshop.svg" alt=""></li>
                    <li><img src="./assets/icons/category-illustrator.svg" alt=""></li>
                    <li><img src="./assets/icons/category-figma.svg" alt=""></li>
                </ul>

                <p class="description" data-scrolly="fromBottom">Un projet d'équipe visant à sensibiliser les internautes avec le logiciel Figma.</p>

                <div class="placement-nb-btn">
                    <p class="nb-projet">
                        4/5
                        <img src="assets/images/splash_number_purple.png" alt="">
                    </p>
                    <a class="btn_purple" href="page-animaux.html">
                        <span>
                            Explorez
                        </span>
                    </a>
                </div>
                

            </div>

            <div class="card_img" data-scrolly="fromLeft">
                <img src="./assets/images/sansvie_project.jpg" alt="">
            </div>

        </div>

        <div class="card_project">

            <div class="card_content" data-scrolly="fromLeft">
                <h3 data-scrolly="fromBottom">Le dinosaure</h3>
                <p class="category_name" data-scrolly="fromBottom"> Animation 3D / Modélisation / Projet étudiant </p>
            
                <ul  class="category_icon" data-scrolly="fromBottom">
                    <li><img src="./assets/icons/category-blender-white.svg" alt=""></li>
                </ul>

                <p data-scrolly="fromBottom" class="description">Ma première modélisation et animation 3D avec le logiciel Blender.</p>

                <div class="placement-nb-btn">
                    <p class="nb-projet" >
                        5/5
                        <img class="splashysplash" src="assets/images/splash_number_cyan.png" alt="">
                    </p>
                    <a class="btn_cyan" href="page-dinosaure.html">
                        <span>
                            Explorez
                        </span>
                    </a>
                </div>
                

            </div>

            <div class="card_img" data-scrolly="fromRight">
                <img src="./assets/images/dino_project.jpg" alt="">
            </div>

        </div>
        
    </div>




</section>


{% include '_partials/_footer.html' %}