{% include '_partials/_header.html' %}

<section class="project-liste wrapper">


        <div class="card_project">

            <div class="car_img">
                <img src="./assets/images/futuriste_project.jpg" alt="">
            </div>
            <div class="card_content">
                <h3>Parkour Futuriste</h3>
                <p> Animation 2D & 3D / Projet étudiant </p>
                <img class="category-blender" src="./assets/icons/category_blender.svg" alt="">
                <div>
                    <p class="nb-projet">
                        1/5
                        <img class="splashysplash" src="" alt="">
                    </p>
                    <a class="btn_cyan" href="#">
                        <span>
                            Explorez
                        </span>
                    </a>
                </div>
            </div>





        </div>


</section>


{% include '_partials/_footer.html' %}