{% include '_partials/_header.html' %}

<section class="project-liste">
    <img class="bg-portfolio" src="assets/images/bg-marble.jpg" alt="">
    <div class=" wrapper">
        
        <h2>Mes projets</h2>


        <div class="card_project">

            <div class="card_content">
                <h3>Parkour Futuriste</h3>
                <p class="category_name"> Animation 2D & 3D / Projet étudiant </p>
            
                <img class="category-blender" src="./assets/icons/category_blender-white.svg" alt="">

                <p class="description">Conceptualisation, création et intégration d’un environnement futuriste avec le logiciel Blender.</p>

                <div class="placement-nb-btn">
                    <p class="nb-projet">
                        1/5
                        <img class="splashysplash" src="assets/images/splash_number_cyan.png" alt="">
                    </p>
                    <a class="btn_cyan" href="#">
                        <span>
                            Explorez
                        </span>
                    </a>
                </div>

            </div>

            <div class="card_img">
                <img src="./assets/images/futuriste_project.jpg" alt="">
            </div>

        </div>
    </div>




</section>


{% include '_partials/_footer.html' %}