{% include '_partials/_header.html' %}

<section class="hero_projet">
    
    <video class="video_projet" src="assets/videos/opening-undisputedii.mp4" playsinline autoplay="autoplay" controls muted></video>



    <div class="hero__content">
        <h2>Opening - Undisputed II</h2>
        <p>Montage vidéo / VFX / Projet étudiant </p>
    </div>

</section>

<section class="projet__contenu-opening" data-component="Scrolly">
    <img class="bg-portfolio" src="assets/images/bg-marble.jpg" alt="">
    
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Description</h3>
        <div class="contenu_description-opening">

            
            <div class="bloc_description-opening" data-scrolly="fromLeft">
            
                <p>Un projet scolaire centré sur le montage vidéo et effet visuel.</p>
                <p>Je me suis donné le défi de monter une vidéo libre de droit qui provient de Pexels.</p>
                <p>Mon objectif était de monter une vidéo dans une thématique que je n’avais jamais exploré, celui de l’art martiaux.</p>
            </div>

            <div class="encadrement-credit" data-scrolly="fromRight">
                <div class="tester">
                    <img id="myImg" src="./assets/images/opening_content.jpg" alt=""> 
                </div>
                         

                <div class="credit-projet" data-scrolly="fromRight">

                    <p>Musique: <a class="credit-link" href="https://www.youtube.com/watch?v=OgzYvsYD-os" target="_blank" >Addict - NEFFEX</a></p>
                    <p>Référence vidéo: <a class="credit-link" href="https://www.pexels.com/fr-fr/" target="_blank" >Pexels</a></p>
                    <p>VFX: <a class="credit-link" href="https://thinkmakepush.com/" target="_blank" >Thinkmakepush</a></p>
                    
                </div>
            </div>

        </div>
        
        <h3 data-scrolly="fromRight">Techniques</h3>
        <div class="contenu_technique-opening">

            <div class="bloc_technique-opening" data-scrolly="fromRight">
                <p>Ce projet m’a permis d'approfondir les techniques d’effets visuelles, textuelles et synchronisations de transition.</p>
                <p>J'ai utilisé Adobe Premiere Pro afin d'effectuer les séquences. Ensuite, j'ai travaillé avec le logiciel Adobe After Effect pour harmoniser mon concept.</p>
                <p>Maintenant, je suis plus attentif aux détails d’un montage vidéo et je cherche toujours à viser plus haut. Pour ne pas perdre la piqûre, je continuerai à me pratiquer!</p>
                
                
            </div>

            <div class="modale-img" data-scrolly="fromLeft">
                <img id="myImg2" src="./assets/images/effet_glitch.gif" alt="">
            </div>
                
            

        </div>
        <h3 data-scrolly="fromBottom">Effets visuels</h3>
        <div class="contenu_organisation-opening">

            <div class="bloc-organisation-opening" data-scrolly="fromBottom">
                <p>J’ai utilisé l’effet de tremblement, echo, bruit, dispersion, bruit fractal, etc... Suffisament pour atirer l’attention.</p>      
            </div>

            <div class="gallerie-effet">
                <div class="modale-img" data-scrolly="fromLeft">
                    <video id="myImg3" src="./assets/videos/effet-visuel-1.mp4" playsinline loop="loop" autoplay="autoplay" muted></video>
                </div>

                <div class="modale-img" data-scrolly="fromRight">
                    <video id="myImg4" src="./assets/videos/effet-visuel-2.mp4" playsinline loop="loop" autoplay="autoplay" muted></video>
                </div>
                

            </div>

        </div>

    </div>


</section>

<!-- The Modal -->
<div id="myModal" class="modaltest">
    <img class="modal-content" id="img01">
  </div>
  
<div id="myModalVid" class="modaltestvid">
    <video class="modal-content-vid" id="img01vid" loop="loop" autoplay="autoplay" muted>
  </div>


  <script>
    // Get the FIRST MODAL
    var modal = document.getElementById('myModal');
    var modalVid = document.getElementById('myModalVid');

    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var img2 = document.getElementById('myImg2');
    var img3 = document.getElementById('myImg3');
    var img4 = document.getElementById('myImg4');


    var modalImg = document.getElementById("img01");
    var modalGif = document.getElementById("img01vid");
    // var captionText = document.getElementById("caption");

    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img2.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img3.onclick = function(){
        modalVid.style.display = "block";
        modalGif.src = this.src;
        modalGif.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img4.onclick = function(){
        modalVid.style.display = "block";
        modalGif.src = this.src;
        modalGif.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }

    
    
    // When the user clicks on <span> (x), close the modal
    modal.onclick = function() {
        img01.className += " out";
        setTimeout(function() {
           modal.style.display = "none";
           img01.className = "modal-content";
         }, 400);
        
     }    

    modalVid.onclick = function() {
        img01vid.className += " out";
        setTimeout(function() {
           modalVid.style.display = "none";
           img01vid.className = "modal-content-vid";
         }, 400);
        
     }    

        
    </script>  


{% include '_partials/_footer.html' %}