{% include '_partials/_header.html' %}

<section class="hero_projet">
    
    <video class="video_projet" src="assets/videos/le_dinosaure.mp4" playsinline autoplay="autoplay" controls muted></video>



    <div class="hero__content">
        <h2>Le dinosaure</h2>
        <p>Animation 3D / Modélisation / Projet étudiant </p>
    </div>

</section>

<section class="projet__contenu-dino" data-component="Scrolly">
    <img class="bg-portfolio" src="assets/images/bg-marble.webp" alt="">
    
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Description</h3>
        <div class="contenu_description-dino">

            
            <div class="bloc_description-dino" data-scrolly="fromLeft">
            
                <p>Ce projet scolaire était ma toute première animation 3D.</p>
                <p>Avant de me mettre en action, j’ai créé un "Storytelling" afin d’avoir les idées claires sur la conceptualisation du projet.</p>
                <p>J’ai modélisé mon personnage en suivant certains tutoriels afin d’acquérir de nouvelles techniques.</p>
            </div>

            <div class="encadrement-credit">
                <div class="tester" data-scrolly="fromRight">
                    <img id="myImg" src="./assets/images/dino_content.webp" alt="">
                </div>
                         

                <div class="credit-projet" data-scrolly="fromRight">

                    <p>Musique: <a class="credit-link" href="https://www.youtube.com/watch?v=EjZJdw9gJ9g" target="_blank" >Natural - Endless Love</a> </p>
                    
                </div>
            </div>

        </div>
        
        <h3 data-scrolly="fromRight">Techniques</h3>
        <div class="contenu_technique-dino">

            <div class="bloc_technique-dino" data-scrolly="fromRight">
                <p>J’ai appliqué de nouvelles techniques qui m’ont permis d’évoluer.</p>
                <p>J’ai créé et intégré un fond d’écran "EXR" avec adobe Illustrator et une image de couleur pour la texture, ce qui m’a permis d’avoir un fichier plus léger.</p>
                <p>La création d’armatures a été façonnée manuellement grâce à des tutoriels. Cela m'a permis de mieux comprendre le fonctionnement des armatures.</p>
            </div>

            <div class="modale-img" data-scrolly="fromLeft">
                <img id="myImg2"  src="./assets/images/dino_exr.webp" alt="">
            </div>
                
            

        </div>
        <h3 data-scrolly="fromBottom">Organisation</h3>
        <div class="contenu_organisation-dino">

            <div class="bloc-organisation-dino" data-scrolly="fromBottom">
                <p>Je m’applique à organiser les structures et modélisations de sorte que ce soit le plus claire possible pour moi et pour autrui.</p>      
            </div>

            <div class="gallerie-dino">
                <div class="modale-img" >
                    <img  id="myImg3" data-scrolly="fromLeft" src="./assets/images/dino_hierarchy1.webp" alt="">
                </div>
                <div class="modale-img">
                    <img id="myImg4" data-scrolly="fromBottom" src="./assets/images/dino_hierarchy2.webp" alt="">
                </div>
            </div>

        </div>

    </div>


</section>

<!-- The Modal -->
<div id="myModal" class="modaltest">
    <img class="modal-content" id="img01">
  </div>


  <script>
    // Get the FIRST MODAL
    var modal = document.getElementById('myModal');
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var img2 = document.getElementById('myImg2');
    var img3 = document.getElementById('myImg3');
    var img4 = document.getElementById('myImg4');


    var modalImg = document.getElementById("img01");
   // var captionText = document.getElementById("caption");

    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img2.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img3.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img4.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }

    
    
    // When the user clicks on <span> (x), close the modal
    modal.onclick = function() {
        img01.className += " out";
        setTimeout(function() {
           modal.style.display = "none";
           img01.className = "modal-content";
         }, 400);
        
     }    

        
    </script> 


{% include '_partials/_footer.html' %}