{% include '_partials/_header.html' %}

<section class="hero_projet">
    
    <img class="video_projet" src="./assets/images/sansvie_project.webp" alt="">



    <div class="hero__content">
        <h2>Sensibilisation des animaux</h2>
        <p>Pixel Art / Design UI & UX / Projet étudiant </p>
    </div>

</section>

<section class="projet__contenu-animaux" data-component="Scrolly">
    <img class="bg-portfolio" src="assets/images/bg-marble.webp" alt="">
    
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Description</h3>
        <div class="contenu_description-animaux">

            
            <div class="bloc_description-animaux" data-scrolly="fromLeft">
            
                <p>En équipe, nous avions eu l’objectif de faire un projet intéractif sur Figma et qui sensibilisera sur les animaux rejeté.</p>
                <p>Nous avions eu une bonne synergie, car on s’entraidait par tous les moyens.</p>

                <a class="btn_purple" href="https://www.figma.com/proto/dAiPQc096FuZouZruREkiF/Sensibilisation-des-animaux-TP3?node-id=1008%3A64&scaling=scale-down-width&page-id=2%3A3&starting-point-node-id=1008%3A64&show-proto-sidebar=1" target="_blank">
                    <span>
                        VOIR LE PROJET
                    </span>
                </a> 
            </div>

            <div class="encadrement-credit">
                <div class="tester" data-scrolly="fromRight">
                    <img id="myImg" src="./assets/images/animaux_content2.webp" alt=""> 
                </div>
                         

                <div class="credit-projet" data-scrolly="fromRight">

                    <p>Équipe: <a class="credit-link" href="https://iraph.world/" target="_blank" >Raphael Bouchard ,</a><a class="credit-link" href="#" target="_blank" >Ariane Normandeau ,</a><a class="credit-link" href="#" target="_blank" >Cynthia Robert</a></p>
                    
                    <p>Référence: <a class="credit-link" href="https://www.nintendo.com/fr-ca/" target="_blank" >Nintendo</a></p>
                    
                </div>
            </div>

        </div>
        
        <h3 data-scrolly="fromRight">Maquettes</h3>
        <div class="contenu_technique-animaux">

            <div class="bloc_technique-animaux" data-scrolly="fromRight">
                <p>Les maquettes ont été conçu avec beaucoup d’attention afin d’harmoniser le style et le concept de notre projet.</p>
                <p>Nous avions conclus de faire ce projet dans le style jeu rétro.</p>
                <p>Plusieurs essaient et erreurs ont été effectué afin d'optimiser notre projet et d'offrir la meilleure expérience.</p>
                
                
            </div>

                <div class="modale-img" data-scrolly="fromLeft">
                    <img id="myImg2"  src="./assets/images/animaux_content.webp" alt="">
                </div>               
            

        </div>
        <h3 data-scrolly="fromBottom">Pixel Art</h3>
        <div class="contenu_organisation-animaux">

            <div class="bloc-organisation-animaux" data-scrolly="fromBottom">
                <p>Voici quelques exemples de mes Pixel Arts. Je suis toujours partant à développer cette nouvelle passion!</p>      
            </div>

            <div class="gallerie">

                <div class="modale-img" data-scrolly="fromLeft">
                    <video id="myImg3" src="./assets/videos/raphael's bunny.mp4" alt="" playsinline loop="loop" autoplay="autoplay" muted></video>  
                </div>

                <div class="modale-img" data-scrolly="fromBottom">
                   <video id="myImg4" src="./assets/videos/dog_play.mp4" alt="" playsinline loop="loop" autoplay="autoplay" muted></video>
                </div>

                <div class="modale-img" data-scrolly="fromRight">
                  <video id="myImg5" src="./assets/videos/ariane's cat.mp4" alt="" playsinline loop="loop" autoplay="autoplay" muted></video>
                </div>

            </div>

        </div>

    </div>


</section>

<!-- The Modal -->
<div id="myModal" class="modaltest">
    <img class="modal-content" id="img01">
  </div>
  
<div id="myModalVid" class="modaltestvid">
    <video class="modal-content-vid" id="img01vid" loop="loop" autoplay="autoplay">
  </div>


  <script>
    // Get the FIRST MODAL
    var modal = document.getElementById('myModal');
    var modalVid = document.getElementById('myModalVid');

    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var img2 = document.getElementById('myImg2');
    var img3 = document.getElementById('myImg3');
    var img4 = document.getElementById('myImg4');
    var img5 = document.getElementById('myImg5');

    var modalImg = document.getElementById("img01");
    var modalGif = document.getElementById("img01vid");
    // var captionText = document.getElementById("caption");

    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img2.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img3.onclick = function(){
        modalVid.style.display = "block";
        modalGif.src = this.src;
        modalGif.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img4.onclick = function(){
        modalVid.style.display = "block";
        modalGif.src = this.src;
        modalGif.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img5.onclick = function(){
        modalVid.style.display = "block";
        modalGif.src = this.src;
        modalGif.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    
    
    // When the user clicks on <span> (x), close the modal
    modal.onclick = function() {
        img01.className += " out";
        setTimeout(function() {
           modal.style.display = "none";
           img01.className = "modal-content";
         }, 400);
        
     }    

    modalVid.onclick = function() {
        img01vid.className += " out";
        setTimeout(function() {
           modalVid.style.display = "none";
           img01vid.className = "modal-content-vid";
         }, 400);
        
     }    

        
    </script>  




{% include '_partials/_footer.html' %}