{% include '_partials/_header.html' %}

<section class="hero_projet">
    
    <video class="video_projet" src="assets/videos/opening-undisputedii.mp4" controls ></video>



    <div class="hero__content">
        <h2>Opening - Undisputed II</h2>
        <p>Montage vidéo / VFX / Projet étudiant </p>
    </div>

</section>

<section class="projet__contenu-opening">
    <img class="bg-portfolio" src="assets/images/bg-marble.jpg" alt="">
    
    <div class="wrapper">
        <h3>Description</h3>
        <div class="contenu_description-opening">

            
            <div class="bloc_description-opening">
            
                <p>Un projet scolaire centré sur le montage vidéo et effet visuel.</p>
                <p>Je me suis donné le défi de monter une vidéo libre de droit qui provient de Pexels.</p>
                <p>Mon objectif était de monter une vidéo dans une thématique que je n’avais jamais exploré, celui de l’art martiaux.</p>
            </div>

            <div class="encadrement-credit">
                <div class="tester">
                    <a href="#" data-component="Modal" data-modal-id="tpl-modal-tool" ><img src="./assets/images/opening_content.jpg" alt=""></a>   
                </div>
                         

                <div class="credit-projet">

                    <p>Musique: <a class="credit-link" href="https://www.youtube.com/watch?v=OgzYvsYD-os" target="_blank" >Addict - NEFFEX</a></p>
                    <p>Référence vidéo: <a class="credit-link" href="https://www.pexels.com/fr-fr/" target="_blank" >Pexels</a></p>
                    <p>VFX: <a class="credit-link" href="https://thinkmakepush.com/" target="_blank" >Thinkmakepush</a></p>
                    
                </div>
            </div>

        </div>
        
        <h3>Techniques</h3>
        <div class="contenu_technique-opening">

            <div class="bloc_technique-opening">
                <p>Ce projet m’a permis d'approfondir les techniques d’effets visuelles, textuelles et synchronisations de transition.</p>
                <p>J'ai utilisé Adobe Premiere Pro afin d'effectuer les séquences. Ensuite, j'ai travaillé avec le logiciel Adobe After Effect pour harmoniser mon concept.</p>
                <p>Maintenant, je suis plus attentif aux détails d’un montage vidéo et je cherche à viser plus haut.</p>
                
            </div>

            <a href="#" class="modale-img" data-component="Modal" data-modal-id="tpl-modal-tool" ><img src="./assets/images/effet_glitch.gif" alt=""></a>
                
            

        </div>
        <h3>Effets visuels</h3>
        <div class="contenu_organisation-opening">

            <div class="bloc-organisation-opening">
                <p>J’ai utilisé l’effet de tremblement, echo, bruit, dispersion, bruit fractal, etc... Suffisament pour atirer l’attention.</p>      
            </div>

            <div class="gallerie-effet">
                <a href="#" data-component="Modal" data-modal-id="tpl-modal-tool"><video src="./assets/videos/effet-visuel-1.mp4" loop="loop" autoplay="autoplay" muted></video></a>
                <a href="#" data-component="Modal" data-modal-id="tpl-modal-tool"><video src="./assets/videos/effet-visuel-2.mp4" loop="loop" autoplay="autoplay" muted></video></a>

            </div>

        </div>

    </div>


</section>

<template id="tpl-modal"> <!-- le ID dans lequel activera la fenêtre modale -->
    <div class="modal"> <!-- la classe qui englobera tous les propiétés SCSS -->
        <div class="modal__scrim"></div> <!-- la classe qui applique l'opacité d'arrière-plan de la fenêtre modale -->
        <div class="modal__box"> <!-- le boite de la fenêtre modale -->
            <div class="modal__content"> <!-- la classe contenant les propriétés pour le contenu de la fenêtre modale -->

            </div>
            <button class="modal__close js-close"></button> <!-- le bouton X pour fermer la fenêtre modale -->
        </div>
    </div>
</template>


{% include '_partials/_footer.html' %}