{% include '_partials/_header.html' %}

<section class="hero_projet">
    
    <video class="video_projet" src="assets/videos/recette-short-vid.mp4" playsinline autoplay="autoplay" controls muted></video>



    <div class="hero__content">
        <h2>Recette en pot</h2>
        <p>Programmation / Design web / Projet étudiant </p>
    </div>

</section>

<section class="projet__contenu-recette" data-component="Scrolly">
    <img class="bg-portfolio" src="assets/images/bg-marble.jpg" alt="">
    
    <div class="wrapper">
        <h3 data-scrolly="fromLeft">Description</h3>
        <div class="contenu_description-recette">

            
            <div class="bloc_description-recette" data-scrolly="fromLeft">
            
                <p>L’objectif était de faire une refonte du site de Recette en pot tout en appliquant les techniques acquises de Design UI/UX. Ensuite, j'ai reproduit une selection de mes maquettes en intégration et programmation web.</p>
                <p>Figma est le logiciel dans lequel j'ai mis en valeur la refonte du site de Recette en pot.</p>
                
            </div>

            <div class="encadrement-credit">
                <div class="tester" data-scrolly="fromRight">
                    <img id="myImg" src="./assets/images/recette_content.png" alt=""> 
                </div>
                         

                <div class="credit-projet" data-scrolly="fromRight">

                    <p>Crédit: <a class="credit-link" href="https://recettesenpot.com/" target="_blank" >Recette en pot</a> </p>
                    
                </div>
            </div>

        </div>
        
        <h3 data-scrolly="fromRight">Techniques</h3>
        <div class="contenu_technique-recette">

            <div class="bloc_technique-recette" data-scrolly="fromRight">
                <p>Les maquettes ont été conçu avec beaucoup de réflexions afin de répondre aux besoins de l’usager.</p>
                <p>Elles ont été harmonisée avec les couleurs représentatives de la compagnie Recette en pot.</p>
                <p>En programmation, j'ai fait l'usage des composantes en Javascript pour rendre le site interactif et dynamique!</p>
            </div>

            <div class="modale-img" data-scrolly="fromLeft">
                <img id="myImg2"  src="./assets/images/recette_content2.jpg" alt="">
            </div>                
            

        </div>
        <h3 data-scrolly="fromBottom">Programmations</h3>
        <div class="contenu_organisation-recette">

            <div class="bloc-organisation-recette" data-scrolly="fromBottom">
                <p>Je m’applique à organiser mes codes pour facilité la lisibilité pour autrui et pour moi.</p>      
            </div>

            <div class="gallerie">

                <div class="modale-img" data-scrolly="fromLeft">
                 <p>Html</p>   <img id="myImg3" src="./assets/images/recette_html.png" alt="">
                           
                          
                </div>

                <div class="modale-img" data-scrolly="fromBottom">
                 <p>Css</p>  <img id="myImg4" src="./assets/images/recette_css.png" alt="">
                </div>

                <div class="modale-img" data-scrolly="fromRight">
                  <p>Js</p>  <img id="myImg5" src="./assets/images/recette_js.png" alt="">
                </div>

            </div>

        </div>

    </div>


</section>

<!-- The Modal -->
<div id="myModal" class="modaltest">
    <img class="modal-content" id="img01">
  </div>


  <script>
    // Get the FIRST MODAL
    var modal = document.getElementById('myModal');

    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var img2 = document.getElementById('myImg2');
    var img3 = document.getElementById('myImg3');
    var img4 = document.getElementById('myImg4');
    var img5 = document.getElementById('myImg5');

    var modalImg = document.getElementById("img01");
   // var captionText = document.getElementById("caption");

    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img2.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img3.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img4.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    img5.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
   //     captionText.innerHTML = this.alt;
    }
    
    
    // When the user clicks on <span> (x), close the modal
    modal.onclick = function() {
        img01.className += " out";
        setTimeout(function() {
           modal.style.display = "none";
           img01.className = "modal-content";
         }, 400);
        
     }    

        
    </script>  


{% include '_partials/_footer.html' %}